body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:#15202b;
    color:#fff;
}

.maintenance-container {
    text-align: center;
}

i {
    font-size: 60px;
    color: #fff; 
}
